---
layout: about.layout.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

{% markdown %}
    {%- include "about.md" -%}
{% endmarkdown %}

<a href="https://curtsyrehearsed.bandcamp.com/album/transitive-nostalgia"><img class="w-full md:w-1/2 h-auto rounded-xl" src="/assets/img/about.png" alt="album cover for Transitive Nostalgia EP"></a>
